<%= render 'shared/turbo-cache-control' %>

<p style="color: green"><%= notice %></p>

<h1>People</h1>

<div class="alert alert-info alert-dismissible fade show">
  <i class="fas fa-info-circle"></i> A full example with buttons and column search.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>

<div id="people" class="mb-3">
  <%= render 'index', people: @people %>
</div>

<%= link_to "New person", new_person_path %>
