<div class="alert alert-<%= @level %> alert-dismissable fadeout" role="alert" 
     data-controller="remove"
     data-action="animationend->remove#remove"
>
  <span><%= @message %></span>
  <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
