<div class="alert alert-<%= @level %> alert-dismissable flashinout" role="alert" data-controller="alerts">
  <span><%= @message %></span>
  <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
