<div id="<%= dom_id task %>">
  <p>
    <strong>Subject:</strong>
    <%= task.subject %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= task.position %>
  </p>

  <p>
    <strong>List:</strong>
    <%= task.list_id %>
  </p>

</div>
