<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarPeopleDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    People
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarPeopleDropdown">
    <%= link_to "People", people_path, class: "dropdown-item" %>
  </div>
</li>

