<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarPeopleDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    People
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarPeopleDropdown">
    <%= link_to "People (datatables with buttons and column search)", people_path, class: "dropdown-item" %>
    <%= link_to "People (simple datatables without buttons)", simple_index_people_path, class: "dropdown-item" %>
  </div>
</li>

