<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarPostsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Posts
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarPostsDropdown">
    <%= link_to raw(%Q[<i class="fas fa-fw fa-table"></i> Posts]), posts_path, 
        class: "dropdown-item" %>
    <%= link_to raw(%Q[<i class="fas fa-fw fa-plus"></i> New Post]), new_post_path,
        class: "dropdown-item" %>
  </div>
</li>

