<ul class="navbar-nav ms-auto">
  <li class="nav-item"> <%= link_to "Rails #{Rails.version}", "#", class: 'nav-link' %></li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarVersionDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-info-circle"></i> Info
    </a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarVersionDropdown">
      <%= link_to "Documentation", "#{root_url}docs/index.html" , class: "dropdown-item" %>
    </div>
  </li>
</ul>
