<div class="container">
  <%%= simple_form_for(@<%= singular_table_name %>,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%%= form_legend %>
    </div>
    <div class="card-body">
     <%- attributes.each do |attribute| -%>
      <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %><% (attribute.field_type == :date_select) ? ', as: :string' : '' %>
	 %>
     <%- end -%>

      <%%= f.button :submit, class: 'btn btn-primary' %>
      <%%= cancel_button %>
    </div>
  <%% end %>
</div>
