<div class="container">
  <div class="card">
    <div class="card-body">
      <%%= simple_form_for(@<%= singular_table_name %>) do |form| %>
      <%%= form.error_notification %>
      <%%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

        <div class="form-input">
         <%- attributes.each do |attribute| -%>
          <%%= form.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %><% (attribute.field_type == :date_select) ? ', as: :string' : '' %>
             %>
         <%- end -%>
        </div>

        <div class="form-actions">
          <%%= form.button :submit, class: 'btn btn-primary' %>
          <%%= back_link %>
        </div>
      <%% end %>
    </div>
  </div>
</div>
