<%%= render @<%= singular_table_name %> %>

<div role="toolbar">
  <%%= back_link %>
  <%%= edit_link(@<%= singular_table_name %>) %>
  <%%= delete_link(@<%= singular_table_name %>) %>
  <%%= new_link <%= class_name %> %>
</div>

