// set primary color before importing bootstrap
$primary: #137970;
@import 'bootstrap/scss/bootstrap';

// -- add some space after bootstrap navbar
body {
  padding-top: 75px;
}

// -- datatables column search: place search fields below header row
//    use <tfoot class="search">
.table {
  tfoot.search {
    display: table-header-group;
    th {
      padding: 0.25rem;
      input[type="text"] {
        width: 100%;
        padding: 0.25rem;
        border-radius: 0.25rem;
        box-sizing: border-box;
        border: 1px solid #ced4da;
      }
    }
  }
}

// -- datatables: set class nowrap via columnDefs, but
//    avoid collapsing cell if there is no search input (class "nosearch")
.actions {
  display: flex;
  flex-wrap: nowrap;
  &.nosearch {
    display: table-cell;
  }
}

form.button_to {
  display: inline-block;
}

// -- animation: fadeout for flash messages
.fadeinout {
  animation: fadeInOut 5s linear;
}
@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  5%, 70% { opacity: 1; }
}
